{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "import/no-unresolved": 0,
    "no-nested-ternary": "warn",
    "no-param-reassign": "warn",
    "consistent-return": "warn",
    "import/prefer-default-export": 0,
    "no-unused-vars": "warn",
    "no-use-before-define": 0,
    "no-shadow": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "globals": {
    "window": true,
    "document": true
  },
  "plugins": ["react-hooks"]
}
